.spotifyLogo{
    width: 30%;
    cursor: pointer;
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background:black;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-color: black;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 765px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

body {
  background:black;
  min-height: 100vh;
  overflow-x: hidden;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.navbarBackground, .songListBackground{
    background-color: rgb(24,24,24);
}
.navbarItems{
    margin: 2% auto !important;   
}
.SLTitle{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding-top: 5%;
}
.songsRow{
    width: 75%;
    margin: 0 auto;
}
.frontSong{
    width: 100%;
    height: 30vh;
    transition: .5s;
}
.frontSong:hover{
  opacity: .4;
}
.songCard{
  cursor: pointer;
}
.SCText{
  transition: .5s;
}
.SCText:hover{
  color: white;
}

.navbarCategories{
  cursor: pointer;
  transition: .5s;
}
.navbarCategories:hover{
  color: white;
}
.navbarSongs{
  cursor: pointer;
  transition: .5s;
}
.navbarSongs:hover{
  color: white;
}
.songViewImg{
  width: 50%;
}
.songView{
    margin-top: 6%;
}
.songViewText{
    cursor: pointer;
    transition: .5s;
}
.songViewText:hover{
    color: white;
}
.rowPlayer{
  background-color: #444;
  position: fixed;
  width: 100%;
  margin: 0%;
  bottom: 0;
  line-height: 7vh;
}

.playerSongTitle{
  position: absolute;
  top: 21%;
  color: white;
  cursor: pointer;
  transition: .5s;
}
.playerSongAutor{
  position: absolute;
  top: 41%;
  cursor: pointer;
  transition: .5s;
}
.playerSongTitle:hover{
  text-decoration: underline;
}
.playerSongAutor:hover{
  color:white;
}
.playerIcon{
  cursor: pointer;
  transition: .5s;
}
.playerIcon:hover{
  color: white;
}
.songViewTitle{
  font-family: 'Montserrat', sans-serif;
}
.playButton{
  border-radius: 1.2rem;
  width: 15vw;
  position: relative;
  left: 30%;
  margin-top: 3%;
  margin-bottom: 5%;
}
.footerNavCol{
  line-height: 15vh;
}
.footerNavBanner{
  position:fixed;
  width: 100%;
  bottom: 0;
}
.footerNav{
  height: 15vh;
  width: 90%;
  margin: 0 auto;
}
.navbarItem{
  transition: .5s;
  cursor: pointer;
  font-size: .7rem;
}
.navbarItem:hover{
  color:white;
}
.rowPlayerMp{
    background-color:rgb(24,24,24);
    position: fixed;
    width: 100%;
    margin: 0%;
    bottom: 0;
    line-height: 7vh;
    top: 70%;
}
.progress {
  position: absolute;
  top: 96%;
  width: 50vw;
  height: 1vh;
  left: 30%;
  background: rgb(24,24,24);
}

#progress-amount {
  display: block;
  height: 100%;
  background-color: white;
  width: 0%;
}
.playIcon{
  font-size: 2rem;
}
.pauseIcon{
  font-size: 2rem;
}