.spotifyLogo{
    width: 30%;
    cursor: pointer;
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background:black;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-color: black;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 765px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

body {
  background:black;
  min-height: 100vh;
  overflow-x: hidden;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.navbarBackground, .songListBackground{
    background-color: rgb(24,24,24);
}
.navbarItems{
    margin: 2% auto !important;   
}
.navbarItem{
    transition: .5s;
    cursor: pointer;
}
.navbarItem:hover{
    color:white;
}
.SLTitle{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding-top: 5%;
}
.songsRow{
    width: 75%;
    margin: 0 auto;
}
.frontSong{
    width: 100%;
    height: 30vh;
    transition: .5s;
}
.frontSong:hover{
  opacity: .4;
}
.songCard{
  cursor: pointer;
}
.SCText{
  transition: .5s;
}
.SCText:hover{
  color: white;
}
.footerNav{
  margin: 0 auto;
}
.navbarCategories{
  cursor: pointer;
  transition: .5s;
}
.navbarCategories:hover{
  color: white;
}
.navbarSongs{
  cursor: pointer;
  transition: .5s;
}
.navbarSongs:hover{
  color: white;
}
.songViewImg{
    width: 35%;
    height: 50vh;
}
.songView{
    margin-top: 6%;
}
.songViewText{
    cursor: pointer;
    transition: .5s;
}
.songViewText:hover{
    color: white;
}
.rowPlayer{
  background-color: #444;
  position: absolute;
  left: 0%;
  margin: 0;
  width: 100%;
}

